<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>itemCategory</key>
		<string>集团介绍</string>
		<key>itemCode</key>
		<string>jieshao_0</string>
		<key>itemTitle</key>
		<string></string>
		<key>itemImage</key>
		<string>01-1.png</string>
		<key>overlayImg</key>
		<string>01-1集团介绍-标题.png</string>
		<key>backgroundImg</key>
		<string>01-1集团介绍-换背景.png</string>
		<key>finger</key>
		<string></string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>itemCategory</key>
		<string>集团介绍</string>
		<key>itemCode</key>
		<string>jituanjieshao_fenbu</string>
		<key>itemTitle</key>
		<string>项目分布图</string>
		<key>itemImage</key>
		<string>01-6.png</string>
		<key>overlayImg</key>
		<string>项目分布配图-标题.png</string>
		<key>backgroundImg</key>
		<string>项目分布配图.png</string>
		<key>finger</key>
		<string></string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>itemCategory</key>
		<string>项目视频</string>
		<key>itemCode</key>
		<string>video</string>
		<key>itemTitle</key>
		<string>视频</string>
		<key>itemImage</key>
		<string>02.png</string>
		<key>overlayImg</key>
		<string>项目视频的title图.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string></string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>itemCategory</key>
		<string>区域规划</string>
		<key>itemCode</key>
		<string>peitao</string>
		<key>itemTitle</key>
		<string>区域配套</string>
		<key>itemImage</key>
		<string>thumb-1-0.png</string>
		<key>overlayImg</key>
		<string>03-1区域规划－区域配套.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string></string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string>区域配套配图.png</string>
	</dict>
	<dict>
		<key>itemCategory</key>
		<string>区域规划</string>
		<key>itemCode</key>
		<string>jiaotong</string>
		<key>itemTitle</key>
		<string>区域交通</string>
		<key>itemImage</key>
		<string>03-1.png</string>
		<key>overlayImg</key>
		<string>03-2区域规划-区域交通.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string></string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string>交通图.jpg</string>
	</dict>
	<dict>
		<key>itemCategory</key>
		<string>项目介绍</string>
		<key>itemCode</key>
		<string>jingguan</string>
		<key>itemTitle</key>
		<string>景观</string>
		<key>itemImage</key>
		<string>04-0-1.png</string>
		<key>overlayImg</key>
		<string>04-0-1项目介绍－景观1-标题.png</string>
		<key>backgroundImg</key>
		<string>04-0-1项目介绍－景观1.png</string>
		<key>finger</key>
		<string></string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>imgSeq</key>
		<dict>
			<key>prefix</key>
			<string>centerpark_</string>
			<key>firstIndex</key>
			<integer>0</integer>
			<key>lastIndex</key>
			<integer>200</integer>
			<key>extension</key>
			<string>jpg</string>
			<key>cycle</key>
			<false/>
		</dict>
		<key>itemCategory</key>
		<string>项目介绍</string>
		<key>itemCode</key>
		<string>zyjg</string>
		<key>itemTitle</key>
		<string>中央景观</string>
		<key>itemImage</key>
		<string>04-0-3.png</string>
		<key>overlayImg</key>
		<string>centerpark_title.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string>finger1.png</string>
		<key>preNext</key>
		<true/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>imgSeq</key>
		<dict>
			<key>prefix</key>
			<string>park_</string>
			<key>firstIndex</key>
			<integer>0</integer>
			<key>lastIndex</key>
			<integer>37</integer>
			<key>extension</key>
			<string>jpg</string>
			<key>cycle</key>
			<false/>
		</dict>
		<key>itemCategory</key>
		<string>项目介绍</string>
		<key>itemCode</key>
		<string>yuanlin</string>
		<key>itemTitle</key>
		<string>园林</string>
		<key>itemImage</key>
		<string>04-0-4.png</string>
		<key>overlayImg</key>
		<string>park_title.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string>finger1.png</string>
		<key>preNext</key>
		<true/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>itemCategory</key>
		<string>项目介绍</string>
		<key>itemCode</key>
		<string>jingguanxiaoguotu</string>
		<key>itemTitle</key>
		<string>景观效果图</string>
		<key>itemImage</key>
		<string>04-1.png</string>
		<key>overlayImg</key>
		<string>在项目360度前加一页-景观效果图标题.png</string>
		<key>backgroundImg</key>
		<string>在项目360度前加一页-景观效果图背景.png</string>
		<key>finger</key>
		<string></string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>imgSeq</key>
		<dict>
			<key>prefix</key>
			<string>bird_</string>
			<key>firstIndex</key>
			<integer>0</integer>
			<key>lastIndex</key>
			<integer>22</integer>
			<key>extension</key>
			<string>jpg</string>
			<key>cycle</key>
			<true/>
		</dict>
		<key>itemCategory</key>
		<string>项目介绍</string>
		<key>itemCode</key>
		<string>birid360</string>
		<key>itemTitle</key>
		<string>鸟瞰360</string>
		<key>itemImage</key>
		<string>04-1.png</string>
		<key>overlayImg</key>
		<string>bird_title.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string>360.png</string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>itemCategory</key>
		<string>项目介绍</string>
		<key>itemCode</key>
		<string>datang</string>
		<key>itemTitle</key>
		<string>住宅大堂</string>
		<key>itemImage</key>
		<string>04-1.png</string>
		<key>overlayImg</key>
		<string>住宅大堂_title.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string></string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string>01住宅大堂.jpg</string>
	</dict>
	<dict>
		<key>itemCategory</key>
		<string>项目介绍</string>
		<key>itemCode</key>
		<string>huxing_B2</string>
		<key>itemTitle</key>
		<string>户型介绍-B2户型</string>
		<key>itemImage</key>
		<string>04-3-1.png</string>
		<key>overlayImg</key>
		<string>04-3-1项目介绍－户型B2-标题.png</string>
		<key>backgroundImg</key>
		<string>04-3-1项目介绍－户型B2.png</string>
		<key>finger</key>
		<string></string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>itemCategory</key>
		<string>项目介绍</string>
		<key>itemCode</key>
		<string>huxing_C1</string>
		<key>itemTitle</key>
		<string>户型介绍-C1户型</string>
		<key>itemImage</key>
		<string>04-4-1.png</string>
		<key>overlayImg</key>
		<string>04-4-1项目介绍－户型C2-标题.png</string>
		<key>backgroundImg</key>
		<string>04-4-1项目介绍－户型C1.png</string>
		<key>finger</key>
		<string></string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>itemCategory</key>
		<string>项目介绍</string>
		<key>itemCode</key>
		<string>huxing_C3</string>
		<key>itemTitle</key>
		<string>户型介绍-C3户型</string>
		<key>itemImage</key>
		<string>04-05-1.png</string>
		<key>overlayImg</key>
		<string>04-5-1项目介绍－户型C3-标题.png</string>
		<key>backgroundImg</key>
		<string>04-5-1项目介绍－户型C3.png</string>
		<key>finger</key>
		<string></string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>itemCategory</key>
		<string>项目介绍</string>
		<key>itemCode</key>
		<string>wuye</string>
		<key>itemTitle</key>
		<string>绿城物业+第一太平维纳斯</string>
		<key>itemImage</key>
		<string>04-06.png</string>
		<key>overlayImg</key>
		<string>04-6项目介绍－物业-标题2.png</string>
		<key>backgroundImg</key>
		<string>04-6项目介绍－物业 背景.png</string>
		<key>finger</key>
		<string></string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
		<key>contentImg</key>
		<string>04-6项目介绍－物业-文字.png</string>
	</dict>
	<dict>
		<key>itemCategory</key>
		<string>项目介绍</string>
		<key>itemCode</key>
		<string>wuye</string>
		<key>itemTitle</key>
		<string>绿城物业+第一太平维纳斯</string>
		<key>itemImage</key>
		<string>04-06.png</string>
		<key>overlayImg</key>
		<string>04-7项目介绍－物业-第一太平戴维斯-标题2.png</string>
		<key>backgroundImg</key>
		<string>04-7项目介绍－物业-第一太平戴维斯-背景.png</string>
		<key>finger</key>
		<string></string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
		<key>contentImg</key>
		<string>04-7项目介绍－物业-第一太平戴维斯-文字.png</string>
	</dict>
	<dict>
		<key>itemCategory</key>
		<string>项目介绍</string>
		<key>itemCode</key>
		<string>shangye</string>
		<key>itemTitle</key>
		<string>商业</string>
		<key>itemImage</key>
		<string>04-7-1.png</string>
		<key>overlayImg</key>
		<string>04-7-1项目介绍－商业-标题.png</string>
		<key>backgroundImg</key>
		<string>04-7-1项目介绍－商业.png</string>
		<key>finger</key>
		<string></string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>imgSeq</key>
		<dict>
			<key>prefix</key>
			<string>bussiness-a_</string>
			<key>firstIndex</key>
			<integer>0</integer>
			<key>lastIndex</key>
			<integer>90</integer>
			<key>extension</key>
			<string>jpg</string>
			<key>cycle</key>
			<false/>
		</dict>
		<key>itemCategory</key>
		<string>项目介绍</string>
		<key>itemCode</key>
		<string>shangye01</string>
		<key>itemTitle</key>
		<string>商业-室外商业part01</string>
		<key>itemImage</key>
		<string>04-7-2.png</string>
		<key>overlayImg</key>
		<string>bussiness-a_title.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string>finger1.png</string>
		<key>preNext</key>
		<true/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>imgSeq</key>
		<dict>
			<key>prefix</key>
			<string>bussiness-b_</string>
			<key>firstIndex</key>
			<integer>0</integer>
			<key>lastIndex</key>
			<integer>90</integer>
			<key>extension</key>
			<string>jpg</string>
			<key>cycle</key>
			<false/>
		</dict>
		<key>itemCategory</key>
		<string>项目介绍</string>
		<key>itemCode</key>
		<string>shangye02</string>
		<key>itemTitle</key>
		<string>商业-室外商业part02</string>
		<key>itemImage</key>
		<string>04-7-3.png</string>
		<key>overlayImg</key>
		<string>bussiness-b_title.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string>finger1.png</string>
		<key>preNext</key>
		<true/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>itemCategory</key>
		<string>项目介绍</string>
		<key>itemCode</key>
		<string>xiaoqupeitao</string>
		<key>itemTitle</key>
		<string>小区配套</string>
		<key>itemImage</key>
		<string>04-7-3.png</string>
		<key>overlayImg</key>
		<string>04-8项目介绍－t.png</string>
		<key>backgroundImg</key>
		<string>04-8项目介绍－N套.png</string>
		<key>finger</key>
		<string></string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>itemCategory</key>
		<string>智能社区</string>
		<key>itemCode</key>
		<string>05-1</string>
		<key>itemTitle</key>
		<string>人脸识别</string>
		<key>itemImage</key>
		<string>04-8.png</string>
		<key>overlayImg</key>
		<string>05-1人脸识别-标题.png</string>
		<key>backgroundImg</key>
		<string>05-1人脸识别-背景.png</string>
		<key>finger</key>
		<string></string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
		<key>contentImg</key>
		<string>05-1人脸识别-内容.png</string>
	</dict>
	<dict>
		<key>itemCategory</key>
		<string>智能社区</string>
		<key>itemCode</key>
		<string>zhineng</string>
		<key>itemTitle</key>
		<string>智能安防</string>
		<key>itemImage</key>
		<string>04-8.png</string>
		<key>overlayImg</key>
		<string>05-2智能安防-标题.png</string>
		<key>backgroundImg</key>
		<string>05-2智能安防-背景.png</string>
		<key>finger</key>
		<string></string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
		<key>contentImg</key>
		<string>05-2智能安防-内容.png</string>
	</dict>
	<dict>
		<key>itemCategory</key>
		<string>智能社区</string>
		<key>itemCode</key>
		<string>05-3</string>
		<key>itemTitle</key>
		<string>智慧家庭</string>
		<key>itemImage</key>
		<string></string>
		<key>overlayImg</key>
		<string>05-3智慧家庭-标题.png</string>
		<key>backgroundImg</key>
		<string>05-3智慧家庭-背景.png</string>
		<key>finger</key>
		<string></string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
		<key>contentImg</key>
		<string>05-3智慧家庭-内容.png</string>
	</dict>
	<dict>
		<key>itemCategory</key>
		<string>智能社区</string>
		<key>itemCode</key>
		<string>05-4</string>
		<key>itemTitle</key>
		<string>智能停车</string>
		<key>itemImage</key>
		<string></string>
		<key>overlayImg</key>
		<string>05-4智能停车-标题.png</string>
		<key>contentImg</key>
		<string>05-4智能停车-内容.png</string>
		<key>backgroundImg</key>
		<string>05-4智能停车-背景.png</string>
		<key>zoomScrollImg</key>
		<string></string>
		<key>finger</key>
		<string></string>
		<key>preNext</key>
		<false/>
	</dict>
	<dict>
		<key>itemCategory</key>
		<string>智能社区</string>
		<key>itemCode</key>
		<string>05-5</string>
		<key>itemTitle</key>
		<string>社区移动互联平台</string>
		<key>itemImage</key>
		<string></string>
		<key>overlayImg</key>
		<string>05-5社区移动互联平台-标题.png</string>
		<key>contentImg</key>
		<string>5社区移动互联平台-内容.png</string>
		<key>backgroundImg</key>
		<string>05-5社区移动互联平台-背景.png</string>
		<key>zoomScrollImg</key>
		<string></string>
		<key>finger</key>
		<string></string>
		<key>preNext</key>
		<false/>
	</dict>
	<dict>
		<key>itemCategory</key>
		<string>销售工具</string>
		<key>itemCode</key>
		<string>gongju</string>
		<key>itemTitle</key>
		<string>销售工具</string>
		<key>itemImage</key>
		<string>05.png</string>
		<key>overlayImg</key>
		<string>05－1销售控制.png</string>
		<key>backgroundImg</key>
		<string>05－1销售控制2.png</string>
		<key>finger</key>
		<string></string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
</array>
</plist>
